<web-app>
<servlet>
<servelt-name>c</servelt>
<servlet-class>Home<servlet-class>
</servlet>
<servlet>
<servelt-name>a</servelt>
<servlet-class>e1<servlet-class>
</servlet>
<servlet>
<servelt-name>b</servelt>
<servlet-class>e2<servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>c</servlet-name>
<url-pattern>Home</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>a</servlet-name>
<url-pattern>E1</url-pattern>
</servlet-mapping>
<servlet-mapping>
<servlet-name>b</servlet-name>
<url-pattern>E2</url-pattern>
</servlet-mapping>
</web-app>
